In [1]:
import pandas as pd
import pickle

import os
from dotenv import load_dotenv
load_dotenv(verbose = True)
path = os.getenv('url')
data = pd.read_csv(os.path.join(path, 'total_ranking.csv'))

with open('tier_model', 'rb') as f:
    kmtest = pickle.load(f)
kmtest.fit(data)
pred = kmtest.predict(data)

    
c_data = data.copy()
c_data['티어'] = pred
c_data

c:\Users\jayiu\anaconda3\envs\da\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

     득점  도움  공격포인트   슈팅  출장  교체  티어
0    26   5     31  108  31  13   1
1    24   4     28  101  36  13   1
2    22   1     23  109  32  12   1
3    19   4     23  133  35   9   1
4    14   6     20   67  37  22   8
..   ..  ..    ...  ...  ..  ..  ..
175   6   1      7   43  34  28   9
176   5   0      5   27  12   5   7
177   5   0      5   28  24  23   2
178   5   0      5   13  25  23   2
179   5   0      5   18  26  26   2

[180 rows x 7 columns]

In [2]:
cluster = c_data.groupby('티어')

In [3]:
cluster.mean()

           득점         도움      공격포인트          슈팅         출장         교체
티어
0    9.068966   3.068966  12.137931   50.689655  31.827586  22.379310
1   16.333333   4.714286  21.047619  102.666667  32.666667  13.190476
2    5.500000   1.357143   6.857143   22.071429  23.714286  21.214286
3    8.027778   3.138889  11.166667   43.833333  25.166667   9.472222
4   10.363636   3.454545  13.818182   81.727273  34.636364  19.454545
5   11.666667   4.166667  15.833333   73.500000  27.833333   5.666667
6   15.000000  10.000000  25.000000  170.000000  35.000000   4.000000
7    6.000000   2.000000   8.000000   27.294118  16.764706   8.647059
8   10.869565   4.608696  15.478261   63.739130  33.739130  19.826087
9    7.363636   2.409091   9.772727   37.000000  30.363636  24.545455